## Import the Necessary Libraries

In [8]:
import pandas as pd 
import numpy as np
import os

## Task1  Merging all the results

In [12]:
df = pd.read_csv(r'/Users/alix/Documents/climbing_data/combined_results.csv')

files = [file for file in os.listdir(r'/Users/alix/Documents/climbing_data')]

all_results = pd.DataFrame()
for file in files:
    df = pd.read_csv(r'/Users/alix/Documents/climbing_data/'+ file)
    all_results = pd.concat([all_results, df])
all_results.to_csv("all_data.csv", index= False)

## Read inn Updated DataFrame

In [15]:
all_results

,Competition Title,Competition Date,FIRST,LAST,Nation,Rank,Qualification lead,Qualification speed,Qualification boulder,Final lead,...,StartNr,Qualification,Qualification 1,Qualification 2,Semifinal,Final,1/8 - Final,1/4 - Final,1/2 - Final,Small final
0,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Natsumi,HIRANO,JPN,1,1.,14.,1.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Julia,LOTZ,AUT,2,7.,1.,5.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Emily,PHILLIPS,GBR,3,2.,5.,4.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Jana,RAUTH,AUT,4,4.,4.,3.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Vanda,MICHALKOVA,SVK,5,3.,15.,6.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9925,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Guillem,MONSECH GASCA,ESP,22,NaN,NaN,NaN,NaN,...,161.0,NaN,"30 18.,30 18.,30 18.,30 18.,30 18.,30 18.,30 1...","25 19.,25 19.,25 19.,25 19.,25 19.,25 19.,25 1...",NaN,NaN,NaN,NaN,NaN,NaN
9926,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Mykhayil,TKACHUK,UKR,23,NaN,NaN,NaN,NaN,...,169.0,NaN,"28 20.,28 20.,28 20.,28 20.,28 20.,28 20.,28 2...","25 19.,25 19.,25 19.,25 19.,25 19.,25 19.,25 1...",NaN,NaN,NaN,NaN,NaN,NaN
9927,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Samuel,OAKES,GBR,24,NaN,NaN,NaN,NaN,...,162.0,NaN,"27+21.,27+21.,27+21.,27+21.,27+21.,27+21.,27+2...","18 25.,18 25.,18 25.,18 25.,18 25.,18 25.,18 2...",NaN,NaN,NaN,NaN,NaN,NaN
9928,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Ondřej,HAŠEK,CZE,25,NaN,NaN,NaN,NaN,...,163.0,NaN,"12+26.,12+26.,12+26.,12+26.,12+26.,12+26.,12+2...","20+24.,20+24.,20+24.,20+24.,20+24.,20+24.,20+2...",NaN,NaN,NaN,NaN,NaN,NaN
9929,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Oleksii,KRYNETSKYI,UKR,26,NaN,NaN,NaN,NaN,...,164.0,NaN,"21+25.,21+25.,21+25.,21+25.,21+25.,21+25.,21+2...","15+26.,15+26.,15+26.,15+26.,15+26.,15+26.,15+2...",NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
all_results.isna().sum()

Competition Title            0
Competition Date             0
FIRST                        0
LAST                         0
Nation                       0
Rank                         0
Qualification lead       31539
Qualification speed      31539
Qualification boulder    31539
Final lead               32298
Final speed              32298
Final boulder            32298
Points                   22802
Final Points             32298
Category                     0
StartNr                   1745
Qualification            14470
Qualification 1          21230
Qualification 2          20569
Semifinal                28448
Final                    28655
1/8 - Final              29762
1/4 - Final              30128
1/2 - Final              31237
Small final              31826
dtype: int64

## For Educational Purposes go back and use only one csv file

In [40]:
df = pd.read_csv(r'/Users/alix/Downloads/sales_06.csv', low_memory=False)
df

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286387,100562365,2021-09-30,paid,905179.0,APPCHA5AF14939B8F8A,2.0,4419.9,4419.9,0.0,4419.9,...,613-87-0361,212-772-7404,Rushville,Yates,Rushville,NY,14544,Northeast,bklatham,0.0
286388,100562376,2021-09-30,cod,905191.0,MEFCOT5A8D1E973B886,2.0,39.9,39.9,0.0,39.9,...,101-02-1040,229-817-9451,Lawrenceville,Gwinnett,Lawrenceville,GA,30044,South,bmbrunetti,0.0
286389,100562383,2021-09-30,cod,905200.0,WOFVAL59D5EA84167F9-M,2.0,40.0,40.0,0.0,40.0,...,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti,0.0
286390,100562384,2021-09-30,cod,905202.0,WOFNIG5B4D7EB0E9FDD-L,2.0,49.9,49.9,0.0,49.9,...,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti,0.0
286391,100562386,2021-09-30,processing,905205.0,MATHUA5AF70A7D1E50A,2.0,3559.9,3559.9,0.0,3559.9,...,320-11-8748,423-276-2699,Knoxville,Knox,Knoxville,TN,37920,South,reschlosser,0.0

## Question 1: what was the best month in sales and how much money was earned

## Task 1.1 : Create a Month Column

In [42]:
# Check the datatype of the order_date column
df['order_date'].dtypes

dtype('O')

In [47]:
df['month'] = df['order_date'].str[5:6]
df['month'] = df['month'].astype('int32')

In [48]:
df

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286387,100562365,2021-09-30,paid,905179.0,APPCHA5AF14939B8F8A,2.0,4419.9,4419.9,0.0,4419.9,...,613-87-0361,212-772-7404,Rushville,Yates,Rushville,NY,14544,Northeast,bklatham,0.0
286388,100562376,2021-09-30,cod,905191.0,MEFCOT5A8D1E973B886,2.0,39.9,39.9,0.0,39.9,...,101-02-1040,229-817-9451,Lawrenceville,Gwinnett,Lawrenceville,GA,30044,South,bmbrunetti,0.0
286389,100562383,2021-09-30,cod,905200.0,WOFVAL59D5EA84167F9-M,2.0,40.0,40.0,0.0,40.0,...,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti,0.0
286390,100562384,2021-09-30,cod,905202.0,WOFNIG5B4D7EB0E9FDD-L,2.0,49.9,49.9,0.0,49.9,...,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti,0.0
286391,100562386,2021-09-30,processing,905205.0,MATHUA5AF70A7D1E50A,2.0,3559.9,3559.9,0.0,3559.9,...,320-11-8748,423-276-2699,Knoxville,Knox,Knoxville,TN,37920,South,reschlosser,0.0

In [49]:
df.columns

Index(['order_id', 'order_date', 'status', 'item_id', 'sku', 'qty_ordered',
       'price', 'value', 'discount_amount', 'total', 'category',
       'payment_method', 'bi_st', 'cust_id', 'year', 'month', 'ref_num',
       'Name Prefix', 'First Name', 'Middle Initial', 'Last Name', 'Gender',
       'age', 'full_name', 'E Mail', 'Customer Since', 'SSN', 'Phone No. ',
       'Place Name', 'County', 'City', 'State', 'Zip', 'Region', 'User Name',
       'Discount_Percent'],
      dtype='object')

In [50]:

df['month'].dtypes

dtype('int32')

In [51]:
df.isna().sum()

order_id            0
order_date          0
status              0
item_id             0
sku                 0
qty_ordered         0
price               0
value               0
discount_amount     0
total               0
category            0
payment_method      0
bi_st               0
cust_id             0
year                0
month               0
ref_num             0
Name Prefix         0
First Name          0
Middle Initial      0
Last Name           0
Gender              0
age                 0
full_name           0
E Mail              0
Customer Since      0
SSN                 0
Phone No.           0
Place Name          0
County              0
City                0
State               0
Zip                 0
Region              0
User Name           0
Discount_Percent    0
dtype: int64

## Add sales Column